<div class="form__container">
  <form (ngSubmit)='addAccessItem(register.value)' #register='ngForm'>
<div>
  
      <div class="niko">
        <label for="">Person:</label>
        <input type="text" name="person" [(ngModel)]='person' #myPerson="ngModel" required minlength="6">
        <div *ngIf="myPerson.errors && (myPerson.dirty || myPerson.touched)">
            <p class="error" [hidden]="!myPerson.errors.minlength">
              Username must be at least 6 characters long.
            </p>
          </div>
      </div>
  
      <div>
        <label for="">Message:</label>
        <input type="text" name="message" [(ngModel)]='message' #myMessage="ngModel" required minlength="10">
        <div *ngIf="myMessage.errors && (myMessage.dirty || myMessage.touched)">
            <p class="error" [hidden]="!myMessage.errors.minlength">
              Your message must be longer than 10 characters!
            </p>
          </div>
      </div>
  
      <button>Submit</button>
</div>
  </form>
</div>
