body{
  background-image: url("http://www.mundodeportivo.com/r/GODO/MD/p4/Futbol/Imagenes/2017/11/19/Recortada/img_jecheverria_20171119-224608_imagenes_md_colaboradores_jecheverria__ech3831-krOB-U433030626110zCD-980x554@MundoDeportivo-Web.JPG");
  background-repeat: no-repeat;
  height: 554px;
  width: 980px;
}

h1{
  text-align: center;
  color: white;
}
