.container{
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid red;
}

.container>div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container>div>*{
  margin:10px;
}