input {
  margin: 10px;
  border: 1px solid black;
}

.required {
  color: red;
}

.btn {
  padding: 8px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  text-transform: uppercase;
}

.container {
  display: inline-block;
}
