<h1>Mob form</h1>

<form (ngSubmit)="paquitoForm.valid && handleAddItem()" #paquitoForm="ngForm">

  <div>
    <label>Person</label>
    <input type="text" name="person" [(ngModel)]="person" required minlength="6" />
  </div>
  
  <div>
    <label>Message</label>
    <input type="text" name="message" [(ngModel)]="message" required minlength="10"/>
  </div>
  
  <div>
    <button type="submit">Save</button>
  </div>

  <p *ngIf="showMessage"> HOLA JAVICABRON </p>
  <p *ngIf="paquitoForm.invalid && paquitoForm.submitted">Something wrong in the inputs</p>
</form>
