<p>
  log-form-component works!
</p>

<div>
  <form (ngSubmit)="addAccessItem(form)" #form="ngForm" novalidate>
    <div class="field" [ngClass]="{'has-error': feedbackEnable && nameField.errors}" >
      <label for="name">Name</label>
      <input type="text" [(ngModel)]="name" name="name" #nameField="ngModel" required minlength="4" [disabled]="processing">
      <div *ngIf="feedbackEnabled && nameField.errors">
        <p *ngIf="nameField.errors.required" class="validation">Name is required</p>
        <p *ngIf="nameField.errors.minlength" class="validation">Name is too short</p>
      </div>
    </div>
    
    <div class="field" [ngClass]="{'has-error': feedbackEnable && messageField.errors}">
      <label for="message">Message</label>
      <input type="text" [(ngModel)]="message" name="message" #messageField="ngModel" required minlength="10" [disabled]="processing">
      <div *ngIf="feedbackEnabled && messageField.errors">
        <p *ngIf="messageField.errors.required" class="validation">Message is required</p>
        <p *ngIf="messageField.errors.minlength" class="validation">Message is too short</p>
      </div>
    </div>
    <button (click)="showMessage()">Submit</button>
  </form>
</div>

<div *ngIf="showMsg">
  <p>Registration successful!</p>
</div>




